<ion-header>
  <ion-toolbar color="{{pageColor}}">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Serviços Enviados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

		<ion-card (click)="goPropostas()">
			<ion-card-header>
				<ion-card-subtitle>
					<span>R$150,00</span>
					<span class="ion-float-right">Cartão de Credito</span>
				</ion-card-subtitle>
		    	<ion-card-title>Professor de Matemática</ion-card-title>
		  	</ion-card-header>

		  <ion-card-content class="ion-text-justify">
		    Por conta de alguns acontecimentos eu estou precisando de um professor de matemática. Ofereço um pagamento mensal de R$150,00 durante um ano.
		    <ion-item class="ion-float-right" lines="none">
		    	<ion-button color="dark" fill="clear">
		    		<ion-icon slot="icon-only" name="ios-more"></ion-icon>
		    	</ion-button>
		    </ion-item>
		  </ion-card-content>
		</ion-card>

	<ion-router-outlet main></ion-router-outlet>
</ion-content>
