<ion-header>
  <ion-toolbar color="{{pageColor}}">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Prestador de Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item >
		<ion-label>Selecione uma foto:</ion-label>
	  <div class="fileUpload ion-margin-bottom ion-margin-top ion-margin-start">
	    <span button>IMAGEM</span>
	    <input type="file" class="upload" />
		</div>
	</ion-item>

  <ion-item class="ion-margin-top">
    <ion-label>Nome:</ion-label>
    <div class="input">
    <ion-input type="text" placeholder="Josh Gomes" value="Josh Gomes"></ion-input>
  </div>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label>Sua especialidade:</ion-label>
    <ion-select placeholder="Selecione">
      <ion-select-option>Professor</ion-select-option>
      <ion-select-option>Programador</ion-select-option>
      <ion-select-option>Administrador</ion-select-option>
      <ion-select-option>Engenheiro</ion-select-option>
      <ion-select-option>Outro...</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item class="ion-margin-top">
    <ion-label>Telefone:</ion-label>
  <div class="input">
    <ion-input type="tel" placeholder="82988789635" value="82988789635"></ion-input>
    </div>
  </ion-item>
  
 <ion-item class="ion-margin-top">
    <ion-label>Possui antecedente criminal?</ion-label>
    <ion-select placeholder="Selecione">
      <ion-select-option>Sim</ion-select-option>
      <ion-select-option>Não</ion-select-option>
   	</ion-select>
 </ion-item>
	<ion-item>
		<ion-textarea type="text" rows="8" placeholder="Sobre antecedentes criminais..." name="mensagem" [(ngModel)]="mensagem"></ion-textarea>
	</ion-item>

	<ion-button color="primary" class="ion-margin-bottom" expand="block" padding>Enviar</ion-button>

</ion-content>
