<ion-header>
  <ion-toolbar color="{{pageColor}}">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tornar-se um servidor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
	  <ion-item>
	    <ion-label>Como me tornar um servirdor?</ion-label>
	  </ion-item>
	  <p class="ion-text-justify ion-padding-horizontal">
	  	Para ser um prestador de serviço é necessario estar cadastrado no aplicativo e atender aos Termos e Condições (citados logo abaixo), e oferecer propostas aos anuncios do demais clientes e usuários.
	  </p>

	  <ion-item>
	    <ion-label>Termos e Condições?</ion-label>
	  </ion-item>
	  <p class="ion-text-justify ion-padding-horizontal">
	  	<b>1.</b>	O Prestador de serviço não deve ofender de modo algum o cliente que solicitou qualquer serviço em nosso aplicativo, tal ato ocasionará um banimento temporario ou permanente do usuário.<br><br>

	  	<b>2.</b>	O Prestador de serviço deve comprir com quais quer requisitos que o cliente tenha imposto, caso ele aceite realizar o que foi proposto no anuncio.<br><br>

	  	<b>3.</b>	Deve-se também tomar o maximo de cuidado possivel para não cair em golpes e em tentativas de sequestro, como prestador de serviço você terá que ser bem calteloso.
	  </p>

	   <ion-item lines="none">
	  	<ion-label position="stacked">O quanto esta pagina fui util para você</ion-label>
	    <ion-range color="{{pageColor}}" min="21" max="71" step="5" snaps="true"></ion-range>
	    <ion-button expand="block" size="default">Enviar nota</ion-button>
	  </ion-item>
	</ion-list>
</ion-content>
