ion-grid{
	background-image: url('/assets/img/capa.jpg');
	background-position: center;
	background-size: 100%;

	.center{
		text-align: center;
		--color: white;

		ion-avatar{
			width: 75px;
			height: 75px;
			display: block;
			margin-top: 16px;
		    margin-right: auto;
		    margin-bottom: 5px;
			margin-left: auto;
		}
	}
}