<ion-header>
  <ion-toolbar color="{{pageColor}}">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<h3 padding-start>Bem Vindo a pagina de Ajuda</h3>
	<ion-card-subtitle padding-start>Como podemos ajuda-lo(a)</ion-card-subtitle>

	<ion-list>
	  <ion-item>
	    <ion-label>Como publicar um anúncio?</ion-label>
	  </ion-item>
	  <p class="ion-text-justify ion-padding-horizontal">
	  	Para publicar algum anúncio em nossa plataforma, você deve ir até a página "Início", e clicar no botão "CLIENTE". Ao entrar na página do cliente você deve preencher todos os campos corretamente, tenha certeza de que completou todos os campos com informações reais e validas. Ao finalizar esta parte voê será redirecionado para putra pagina com todos os seus anúncios publicados, ela tambem pode ser acessada pelo menu.
	  </p>

	  <ion-item>
	    <ion-label>Como me candidatar a uma vaga?</ion-label>
	  </ion-item>
	  <p class="ion-text-justify ion-padding-horizontal">
	  	Para se candidatar á algum anúncio em nossa plataforma, você deve ir até a página "Início", e clicar no botão "PRESTADOR DE SERVIÇO". Após isso você verá os ultimos anúncios publicados, todos com um botão com escrito "CANDIDATAR", ao clicar nele uma notificação será envida para quem publicou o anúncio e ele decidirá se irá aceitar ou não a sua oferta. Caso sejá aceita você podera entrar em contato com ele por nossa pagina de chat e decidir todas os detalhes restantes.
	  </p>

	  <ion-item>
	    <ion-label>Como saberei se minha oferta foi aceita?</ion-label>
	  </ion-item>
	  <p class="ion-text-justify ion-padding-horizontal">
	  	Você receberá uma notificação em seu celular dizendo quem aprovou sua oferta e em qual anúncio.
	  </p>

	  <ion-item lines="none">
	  	<ion-label position="stacked">O quanto esta pagina fui util para você</ion-label>
	    <ion-range color="danger" min="21" max="71" step="5" snaps="true"></ion-range>
	    <ion-button expand="block" size="default">Enviar nota</ion-button>
	  </ion-item>
	</ion-list>
</ion-content>
